/* COLOR PALETTE
#2D323B - Dark Grey 
#877D74 - Light Brown, (bronze-like)
#3e5887 - Medium Grey/Blue 
hsl(219, 37.2%, 94.1%); - Light Blue Bumped up to Almost White */
/* #F7A865 - link hover orange */

/* UPDATED COLOR PALETTE
#131314 - deep dark grey (almost black)
#F8F9FA - very light grey (almost white)
#BBC2CC - silver grey
#CCC5BB - complmmentary to the sliver grey

/* Global Styles
---------------------------------------------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  /* background-color: #F8F9FA; */
}

h1{
  /* background-color: #877D74; */
  /* color: hsl(219, 37.2%, 94.1%); */
  font-size: 9rem;
  /* font-family: 'Rouge Script', cursive;
  font-weight: 200; */
  font-family: 'Tangerine', cursive;
  line-height: 10rem;
  height: 35px;
  margin-top: 50px;
}

h2 {
  color:#877D74;
  font-size: 2.22rem;
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
}

h4 {
  font-weight: 400;
  text-align: right;
  padding-right: 10%;
  margin-bottom:  500px;
}

a {
  color:#5A948E;
}

a:hover {
  text-decoration: none;
  /* color: #EDC76D; */
  color: #F7A865;
 
}

/* 
a:visited {
  color:white;
} */

.content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

h3 + p {
  font-style: italic;
  font-weight: 500;
}

h3 ~ p {
  margin: 0;
}

.hero {
  color:#BBC2CC;
  background-image: url(images/hero-comp.jpg);
  background-size: cover;
  background-position: center center;
  padding-bottom: 100px;
}

/* TITLE
---------------------------------------------------- */


.profile-pic {
  margin-left: 20px;;
  width: 150px;
  height: 185px;
  border-radius: 100%;
  border: 3px solid #877D74;
  float: left;  
  margin-right: 50px;
}

.pdf-logo {
  margin-bottom: 25px;
  width: 30px;
  border-radius: 25%;
  border: .5px solid hsl(219, 37.2%, 94.1%);
  padding-top: 0; 
}

.title {
  /* color: ##BBC2CC; */
  /* color: red; */
  background-color: teal;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20px 1fr 2fr;
  column-gap: 20px;
}
.title p {
  color: #F8F9FA;
  margin-right: 20px;
  margin-left: 20px; 
  /* margin-bottom: 100px;  */
}

.intro {
  /* padding-left: 20%; */
  /* margin-top: 35px; */
  /* margin-bottom: 50px; */
  font-size: 17.5px;
  font-weight: 200;
}

.profile-pic {
  filter: grayscale(100%);
  margin-top: 100px;
  margin-left: 55px;
  
}


/* Projects
---------------------------------------------------- */
.projects {
  color:#2D323B;
  background-color:  red;
  margin-top: 0;
}

/* Work Experience
---------------------------------------------------- */
.work-experience {
  color:  #F8F9FA;
  background-color: #131314;
}

.key-contributions {
  font-weight: 500;
}

.job-item {
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  border-bottom: 1px solid #877D74;
}

.job-details {

}

.work-experience ul {
  list-style-type: square;
}

/* Education 
---------------------------------------------------- */

.education {
  color:#131314;
  background-color: hsl(219, 37.2%, 94.1%);
  background-image: url(images/colored-pencils.jpg);
  background-size: cover;
  background-position: center right;
  padding-bottom: 275px;
}

.education-logos {
  overflow: hidden;
  border-bottom: 1px solid #CCC5BB;
  padding: 25px 0;
}

.education-logos img{
  float: left;
  width: 110px;
  margin-right: 50px;
}

.education h2{
  padding-bottom: 36px;
}

.education-logos h3 {
  margin-top: 0;
  /* margin-bottom: 500px; */
}

.last-entry {
  border-bottom: hidden;
}

.education p {
  width: 100%;
}

/* Volunteer
---------------------------------------------------- */

.volunteer {
  color:  #F8F9FA;
  background-color: #131314;
}

.volunteer h2{
  padding-bottom: 36px;
}



/* Contact & Footer
---------------------------------------------------- */
.contact-list a{
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  font-size:12px;
  font-weight: 700;
}
.contact-list img {
  width: 60px;
  height: 55px;
  display: flex;
  
}
.contact-list a:hover{
  /* margin-top: 7px; */
  transform: scale(0.5);
  transition: 0.5s;
  transform: scale(1.1) translateY(-15px);
}


footer {
  /* background-image: linear-gradient(#2D323B, rgba(45, 50, 59, 75%) ); */
  background-color:white;
  padding: 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

/* Responsive
---------------------------------------------------- */

@media screen and (min-width:750){
  
}