/* COLOR PALETTE
#2D323B - Dark Grey 
#877D74 - Light Brown, (bronze-like)
#3e5887 - Medium Grey/Blue 
hsl(219, 37.2%, 94.1%); - Light Blue Bumped up to Almost White */

/* Global Styles
---------------------------------------------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  /* background-color: hsl(219, 37.2%, 94.1%); */
}

h1{
  /* background-color: #877D74; */
  /* color: hsl(219, 37.2%, 94.1%); */
  font-size: 9rem;
  font-family: 'Rouge Script', cursive;
  font-weight: 200;
  font-family: 'Tangerine', cursive;
  line-height: 10rem;
  height: 35px;
  margin-top: 250px;
}

h2 {
  color:#877D74;
  font-size: 2.22rem;
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
}

h4 {
  font-weight: 400;
  text-align: right;
  padding-right: 10%;
  margin-bottom:  500px;
}

a {
  color:#5A948E;
}

a:hover {
  text-decoration: none;
  color: #EDC76D;
 
}

/* 
a:visited {
  color:white;
} */

.content-wrap {
  width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Pofile
---------------------------------------------------- */
.hero {
  height: 1200px;
  
}
.profile-pic {
  width: 150px;
  height: 185px;
  border-radius: 100%;
  border: 3px solid #877D74;
  float: left;
  
}

header {
  color: hsl(219, 37.2%, 94.1%);
  background-image: linear-gradient(rgba(45, 50, 59, 75%), #2D323B );
  /* text-align: center; */
}

.intro {
  padding-left: 20%;
  margin-top: 35px;
  margin-bottom: 100px;
  font-size: 17.5px;
  font-weight: 200;

}
/* 
.bottom-hero {
  background-color: black;
} */



/* p {
  color: hsl(219, 37.2%, 94.1%);
} */
/* Projects
---------------------------------------------------- */
.projects {
  color:#2D323B;
  background-color:  hsl(219, 37.2%, 94.1%);
  margin-top: 0;
}

/* Work Experience
---------------------------------------------------- */
.work-experience {
  color:  hsl(219, 37.2%, 94.1%);
  background-color: #2D323B;
}

.brownie {
 width: 300px;
}

/* Education 
---------------------------------------------------- */
.education {
  color:#2D323B;
  background-color: hsl(219, 37.2%, 94.1%);
}

.education-logos {
  overflow: hidden;
  border-bottom: 1px solid #877D74;
  padding: 25px 0;
}

.education-logos img{
  float: left;
  width: 110px;
  margin-right: 50px;
}

.education h2{
  padding-bottom: 36px;
}

.education-logos h3 {
  margin-top: 0;
  /* margin-bottom: 500px; */
}

.harvard-extension {
  border-bottom: hidden;
}

/* Volunteer
---------------------------------------------------- */

.volunteer {
  color:  hsl(219, 37.2%, 94.1%);
  background-color: #2D323B;
}

.volunteer h2{
  padding-bottom: 36px;
}



/* Contact & Footer
---------------------------------------------------- */
.contact-list a{
  padding: 15px;
  display: inline-block;
  text-decoration: none;
}
.contact-list img {
  width: 60px;
  display: flex;
  
}
.contact-list a:hover{
  margin-top: 7px;
}

footer {
  color:hsl(219, 37.2%, 94.1%);
  /* background-image: linear-gradient(#2D323B, rgba(45, 50, 59, 75%) ); */
  padding: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;

}